* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  margin: 0px 0px;
}

body {
  perspective: 800px;
}
:root {
  --main-color: #10cab7;
  --sec-color: #2c4755;
}
html {
  scroll-behavior: smooth;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding: 0 15px;
}

/* header */
.header {
  padding: 20px;
  background-color: #f9f9f9;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  width: 70px;
}

.header .container .links {
  position: relative;
}

.header .container .links .icon {
  display: flex;
  width: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .container .links .icon span {
  background-color: #24484f;

  margin-bottom: 5px;
}

.header .container .links .icon span:first-child {
  width: 100%;
  height: 3px;
}

.header .container .links .icon span:nth-child(2) {
  width: 100%;
  height: 3px;
  transition: 0.3s;
}

.header .container .links .icon span:last-child {
  width: 100%;
  height: 3px;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  position: absolute;
  right: 0;
  min-width: 200px;
  display: none;
  top: calc(100% + 15px);
  border-radius: 8px;
  z-index: 1;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  position: absolute;
  border-color: transparent transparent #f1f1f1 transparent;
  top: -20px;
  right: 5px;
  border-radius: 5px;
}

.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) {
  border-bottom: solid #10cab7 2px;
}

.header .links:hover ul {
  display: block;
}

/* landing section */

.landing {
  background-image: url(../img/damien-schnorhk-Nnkr99fDSUU-unsplash.jpg);
  background-size: cover;
  backdrop-filter: blur(13px);
  height: calc(100vh - 68px);
  background-position: center;
  position: relative;
}

.intro-text {
  text-transform: capitalize;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}
.landing .intro-text p {
  font-size: 19px;
  width: 320px;
  line-height: 1.8;
  max-width: 100%;
}

/* features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px 20px;
}
.features .feat {
  padding: 15px;
  text-transform: capitalize;
  text-align: center;
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  font-size: 18px;
}
.features .feat i {
  font-size: 30px;
  color: var(--main-color);
}

.special-heading {
  color: #dddcdc;
  font-size: 70px;
  text-align: center;
  font-weight: 800;
  margin: 0;
}
.special-heading + p {
  font-size: 20px;
  text-align: center;
  margin-top: -15px;
}
.services {
  padding: 60px 0;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
  gap: 20px 20px;
}
.services-content .srv p {
  color: #333;
  margin: 10px 0;
  font-weight: 300;
  line-height: 1.6;
}
.services-content .srv i {
  color: var(--main-color);
  flex-basis: 50px;
  font-size: 25px;
}
.services-content .srv {
  margin-bottom: 30px;
  display: flex;
}
.services-content .srv h3 {
  margin: 0 0;
}
.services-content .srv .text {
  flex: 1;
}
.services-content .image {
  text-align: center;
  position: relative;
}
.services-content .image::before {
  content: "";
  background-color: var(--sec-color);
  width: 150px;
  height: calc(100% + 100px);
  position: absolute;
  right: 10px;
  top: -50px;
  z-index: -1;
}
.services-content .image img {
  width: 200px;
}
/* start portfolio */
.portfolio {
  padding: 60px 0;
  background-color: #f9f9f9;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
  gap: 20px 20px;
}
.project img {
  max-width: 100%;
}
.project .info {
  text-transform: capitalize;
  padding: 10px;
}
.project .info h4 {
  margin: 10px 0;
  display: inline-block;
}
.project .info p {
  color: #333;
  margin: 10px 0;
  font-weight: 300;
  line-height: 1.4;
}
.project .info i {
  font-size: 30px;
  color: var(--main-color);
}
.project {
  background-color: rgb(255, 255, 255);
}
.about {
  padding: 60px 0;
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.about .about-content .image {
  width: 242.66px;
  height: 215px;
  position: relative;
  margin-bottom: 40px;
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #10cab7;
  width: 90px;
  height: calc(100% + 49px);
  z-index: -1;
  left: -30px;
  top: -27px;
}
.about .about-content .image::after {
  content: "";
  width: 100px;
  z-index: -1;
  height: 70%;
  position: absolute;
  border-left: solid var(--main-color) 60px;
  border-bottom: solid 60px var(--main-color);
  top: -27px;
  right: -124px;
}

.about .about-content .image img {
  max-width: 100%;
}

.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 40px;
  color: #333;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
  border-style: solid;
  border-width: 1px;
}

@media (max-width: 991px) {
  .services .image {
    display: none;
  }
  .about .about-content .image::after {
    display: none;
  }

  .about .about-content .image::before {
    display: none;
  }

  .about .about-content .text {
    flex-basis: calc(100% - 300px);
    text-transform: capitalize;
  }
}
.about .about-content .text p:last-child {
  margin-top: 40px;
  font-weight: 500;
  color: #333;
}
.about .about-content .text p:last-child::first-letter {
  color: var(--main-color);
  font-size: 22px;
}

/* start contact */
.contact {
  padding: 60px 0;
  background-color: #f9f9f9;
}
.contact-content {
  margin-top: 100px;
  text-align: center;
  line-height: 45px;
}
.contact-content .label {
  font-size: 30px;
  font-weight: 800;
  color: var(--sec-color);
  text-transform: capitalize;
}
.contact-content .link {
  font-size: 30px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}

.contact-content i {
  margin-left: 20px;
}
.contact-content .social {
  text-transform: capitalize;
  color: var(--sec-color);
}

/* strat footer */
footer {
  background-color: var(--sec-color);
  padding: 20px;
  color: white;
  text-align: center;
}

footer span {
  color: var(--main-color);
  font-weight: bold;
}

/* mobile */
@media (max-width: 767px) {
  .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
  .about .about-content {
    flex-direction: column;
    align-items: center;
  }
  .about .about-content .text {
    text-align: center;
  }
  .contact-content i {
    margin-left: 8px;
  }
  .contact-content .link {
    font-size: 22px;
  }
  .contact-content .label {
    font-size: 20px;
  }
}

/*Small.*/
@media (min-width: 768px) {
  .landing .intro-text p {
    width: 380px;
  }
  .container {
    width: 750px;
  }
}

/*Medium*/
@media (min-width: 992px) {
  .landing .intro-text p {
    width: 380px;
  }
  .container {
    width: 970px;
  }
  .landing .intro-text p {
    width: 380px;
  }
  .about .about-content .text {
    flex-basis: calc(100% - 497px);
  }
}

/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .landing .intro-text p {
    width: 380px;
  }
  .about .about-content .text {
    flex-basis: calc(100% - 497px);
  }
}
